@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat&display=swap');


@keyframes name {
    0% {
        left: -500px;
    }
    100%{
        left: 0;
    }
}

@keyframes desc{
    0% {
        right: -500px;
    }
    
    100%{
        right: 0;
    }
}




:root{
    --colors-accent: #E1F5FE;
    --colors-muted: #616161;
    --colors-black: #006064;
    --colors-white: #f5f5f5;

    --spacer-tiny: 0.1rem;
    --spacer-sm: 0.7rem;
    --spacer-med: 1rem;
    --spacer-lg: 1.2rem;

    --font-size-sm: 14px;
    --font-size-lg: 26px;
    --font-size-title: 60px;

    --font: "Montserrat", sans-serif;
    --font-title: "DM Serif Text", serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-family: var(--font);
}

header{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: var(--colors-accent);
    color: var(--colors-white);
    padding: var(--spacer-sm);
}

h1{
    font-size: var(--font-size-title);
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: space-between;
    color: var(--colors-black);
    letter-spacing: var(--spacer-tiny);
}

h1 span{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-name{
    position: relative;
    animation-name: name;
    animation-duration: 1.3s;
}

.header-desc{
    position: relative;
    animation: desc;
    animation-duration: 2s;
    
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: inherit;
    height: 50px;
    background-color: var(--colors-accent);
    color: var(--colors-white);
    padding: var(--spacer-sm);
}

footer .icon{
    color: var(--colors-white);
    font-size: 30px;
}

p{
    padding: var(--spacer-sm) 0;
    font-size: var(--font-size-sm);
}

button{
    cursor: pointer;
    outline: 0;
    width: 90px;
    height: 40px;
    background-color: var(--colors-accent);
    color: var(--colors-white);
    border: 2px solid var(--colors-accent);
    margin: var(--spacer-sm) 0;
    padding: 0;

    border-radius: 15px;
}

button:focus{
    background-color: var(--colors-light);
    color: var(--colors-accent);
    border: 2px solid var(--colors-accent);
}

section{
    display: flex;
    flex-direction: column;
    width: inherit;
    padding: var(--spacer-lg);
    justify-content: flex-start;
    height: inherit;
    color: var(--colors-black);
}
article{
    padding: var(--spacer-med);
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    padding: var(--spacer-sm);
}

.link-wrapper{
    width: inherit; 
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.link-wrapper a{
    padding: var(--spacer-sm);
}

@media all and (min-width: 500px){
    header{
        flex-direction: row;
        justify-content: space-between;
    }

   :root{
    --spacer-sm: 0.9rem;
    --spacer-med: 1.1rem;
    --spacer-lg: 1.3rem;

    --font-size-sm: 16px;
   } 

}

@media all and (min-width: 800px){
    :root{
     --spacer-sm: 1rem;
     --spacer-med: 1.3rem;
     --spacer-lg: 1.5rem;
 
     --font-size-sm: 18px;
    } 
 
 }
