@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat&display=swap');


:root{
    --colors-accent-light: #7986CB;
    --colors-black: #000;
    --colors-white: #fff;

    --header-bg: #1A237E;
    --header-text: #FCE4EC;


    --spacer-tiny: 0.1rem;
    --spacer-sm: 0.7rem;
    --spacer-med: 1rem;
    --spacer-lg: 2.5rem;

    --font-size-xs: 12px;
    --font-size-sm: 16px;
    --font-size-lg: 24px;

    --font: "Montserrat", sans-serif;
    --font-title: "DM Serif Text", serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    max-width: 300px;
    border-radius: 2px;
    margin: var(--spacer-sm) 0;
    
}

.image-wrapper img{
    border: 0.5px solid #0e0e0e;
}

article div{
    width: 100%;
    max-width: 300px;
    padding: 0 var(--spacer-med);
    align-self: center;
}



main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    font-family: var(--font);
}

header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--header-bg);
    color: var(--colors-white);
}

.header-scroll{
    padding-bottom: var(--spacer-sm);
    color: var(--colors-accent-light);
    
}
.svg-wrapper{
    width: 100%;
    height: 100%;
    max-height: 540px;
    max-width: 400px;
    padding: 0 var(--spacer-sm);
}

.svg-wrapper svg{
    width: inherit;
    height: inherit;
    
}

.svg-wrapper svg text{
    font-size: 9.2px;
    fill: var(--header-text);
}

svg text .color-one{
    fill: #60bfde;
}
svg text .color-three{
    fill: #ddbee4;
}
svg text .color-two{
    fill: #EEFF41;
}

svg text .color-four{
    fill: #F06292;
}
svg text .color-five{
    fill:#9fa8da;
}

svg text .color-six{
    fill: #00E5FF
    ;
}

svg text .color-seven{
    fill: #cfe059;
}

.rachel-subtitle{
    color: var(--header-bg);
    padding-bottom: var(--spacer-sm);
}

h1{
    
    width: 100%;
    display: flex;
    height: 110px;
    color: var(--colors-black);
    letter-spacing: var(--spacer-tiny);
}

h1 span{
    font-size: var(--font-size-lg);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

h1 span:last-of-type{
    text-align: right;
}

h2, h3{
    font-size: var(--font-size-lg);
}

h2{
    padding-top: var(--spacer-lg);
    font-size: calc(var(--font-size-lg) * 1.2);
}

.header-desc{
    position: relative;
    animation: desc;
    animation-duration: 2s;
    
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: inherit;
    height: 50px;
    background-color: var(--header-bg);
    color: var(--colors-accent-light);
    padding: var(--spacer-sm);
}

footer .icon{
    color: var(--colors-white);
    font-size: 30px;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    padding: var(--spacer-sm) 0;
    font-size: var(--font-size-sm);
}

button,
.button{
    cursor: pointer;
    outline: 0;
    width: 100px;
    height: 40px;
    background-color: var(--colors-white);
    color: var(--colors-black);
    border: 1.5px solid var(--colors-black);
    margin: var(--spacer-sm) 0 0;
    padding: 0;
    outline: 0;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-xs);
}

button:focus,
.button:focus,
button:hover,
.button:hover{
    background-color: var(--header-bg);
    color: var(--colors-accent-light);
    font-weight: bold;
    border: 1.5px solid var(--header-bg);
}

section{
    display: flex;
    flex-direction: column;
    width: inherit;
    padding: var(--spacer-lg) var(--spacer-lg) 0 var(--spacer-lg);
    justify-content: flex-start;
    height: inherit;
    color: var(--colors-black);
    max-width: 1000px;
}
section:last-of-type{
    padding-bottom: var(--spacer-lg);
}

article{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h3{
    padding: var(--spacer-lg) 0 0;
}

.link-wrapper{
    align-self: flex-start;
    width: inherit; 
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    max-width: 220px;
}

.image-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;
    padding: 0;
}



.contact-link-wrapper{
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    justify-content: space-between;
    align-items: flex-end;
}

.about-wrapper button,
.about-wrapper .button{
    align-self: center;
}

.about-p-wrapper p:last-of-type{
    padding-bottom: 0;
}

.about-flex-wrapper{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.icon{
    height: 45px;
    width:45px;
    padding: 10px;
    margin: 0;
}

.icon-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    
}

.title-icon-wrapper{
    display: flex;
    flex-direction: column;
    width: inherit;
    max-width: inherit;
    padding: 0;
}


@media all and (min-width: 350px){
    .svg-wrapper svg text{
        font-size: 10.5px;
    }
}

@media all and (min-width: 400px){
    .svg-wrapper svg text{
        font-size: 12px;
    }

}

@media all and (min-width: 500px){

    .rachel-subtitle{
        margin-top: calc(2* var(--spacer-tiny));
    }

    .icon-wrapper{
        max-width: 200px;
    }

    h3{
        padding: 0;
    }
    

    .title-icon-wrapper{
        flex-direction: row;
        align-items: center;
        margin-top: var(--spacer-sm);
    }

    .icon-wrapper{
        padding-left: var(--spacer-med);
        padding-bottom: 0;
    }

   :root{
    --spacer-sm: 0.9rem;
    --spacer-med: 1.1rem;
    --spacer-lg: 1.3rem;

    --font-size-xs: 14px;
    --font-size-sm: 18px;
    --font-size-lg: 26px;
    --spacer-sm: 0.8rem;
    --spacer-med: 1.1rem;
   } 

}

@media all and (min-width: 650px){

    .svg-wrapper svg text{
        font-size: 14px;
    }

    .svg-wrapper svg{
        max-width: 450px;
    }

    .about-flex-wrapper{
    flex-direction: row;
    }

}

@media all and (min-width: 700px){
    .image-wrapper{
        justify-content: space-between;
        flex-direction: row;
    }

    article div img{
        width: 220px;
    }
}

@media all and (min-width: 800px){
    
    :root{
     --spacer-sm: 1rem;
     --spacer-med: 2.5rem;
     --spacer-lg: 5rem;
 
     --font-size-xs: 14px;
        --font-size-sm: 20px;
        --font-size-lg: 30px;
    } 
  
    .svg-wrapper svg text{
        font-size: 16px;
    }

   section:last-of-type{
       padding-bottom: calc(var(--spacer-lg) * 1.5);
   }

    .svg-wrapper svg{
        max-width: 500px;
    }

    article{
        margin-top: var(--spacer-lg);
    }
    article:first-of-type{
        margin-top: var(--spacer-sm);
    }

    .title-icon-wrapper{
        margin-top: 0;
    }
    section{
        padding:var(--spacer-lg) calc(var(--spacer-lg) * 1.5) 0 ;
    }

    .image-wrapper{
        max-width: 900px;
    }
 
 }
 @keyframes animated-text{
    from{width: 0;}
    to{width: 400px;}
  }
 svg text{
    animation: animated-text 2s steps(30,end) 1s 1 normal both;
  }
  
  @keyframes showThird {
    66.0001%, 99.999% {
      opacity: 1;
    }
    0%, 66%, 100% { opacity: 0; }
  }
  
  /* .line1{
    animation: showThird 12s infinite;
  } */

