

header
    background-color: $accent-color-dark
    display: flex
    flex-direction: column
    justify-content: center
    aling-items: center
    height: 100vh
    width: 100%
    .svg-wrapper
        width: 100%
        height: inherit
        display: flex
        justify-content: center
        align-items: center
        svg
            height: inherit
        svg text
            font-size: 8px
        

        
    .header-span
        position: absolute
        bottom: 1rem
        width: 100%
        color: red
        display: flex
        justify-content: center
        align-items: center
        span
            color: $accent-color
            font-size: $font-size-sm

svg text
    fill: $accent-color-extreme

.color-one
    fill: #60bfde

.color-two
    fill: $accent-color-extreme

.color-three
    fill: #ddbee4

.color-four
    fill: #F06292

.color-five
    fill:#9fa8da

.color-six
    fill: #00E5FF
