

*
    padding: 0
    margin: 0
    box-sizing: border-box

main
    display: flex
    flex-direction: column

.project-img
    max-width: 300px


footer
    display: flex
    height: 50px
    background-color: $accent-color-dark
    justify-content: space-between
    align-items: center
    padding: 0 $spacer-sm
    p
        color: $accent-color
    a
        outline: 0
    .footer-icon
        fill: $accent-color
    a:focus .footer-icon
        fill: $accent-color-extreme